.experience{
    margin: 15rem auto;
    max-width: 700px;
    .title{
        font-family: var(--raleway);
        color: var(--pink-light);
        position: relative;
        h2{
            margin-bottom: 2rem;
            font-size: var(--tx2large);
            font-weight: 700;
            &::before{
                counter-increment: title;
                content: "0" counter(title) ". ";
                margin-right:  0.5rem;
                color: var(--pink-dark);
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                top: 20px;
                width: 300px;
                background-color: var(--blue-medium);
                height: 2px;
                margin-left: 380px;
            }
        }
    }
    .container{
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 1rem;
        .exp-slider{
            list-style-type: none;
            position: relative;
            height: max-content;
            .underline{
                background-color: var(--pink-dark);
                position: absolute;
                left: -0.5px;
                top: 0;
                height: 2.5rem;
                width: 3px;
                transition: 0.3s ease-in-out;
            }
            &::before{
                position: absolute;
                left: 0px;
                content: "";
                height: 100%;
                width: 1px;
                background-color: var(--pink-light);
            }
            &-item {
                height: 2.5rem;
                padding: 0 1.5rem;
                display: flex;
                vertical-align: middle;
                cursor: pointer;
                width: 100%;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--lightest-slate);
                    font-family: var(--fira-code);
                    font-size: var(--tsm1);
                }
                &:hover{
                    background-color: var(--pink-light);
                    span {
                        color: var(--pink-dark);
                    }
                }
            }
            &-item-selected{
                span{
                    color: var(--pink-dark);

                }
            }
        }
        .exp-details{
            height: 40vh;
            font-family: var(--raleway);
            &-position{
                color: var(--lightest-slate);
                &-company{
                    color: var(--pink-dark);
                }
            }
            &-range{
                color: var(--lightest-slate);
            }
            &-list{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 1rem;
                padding-left: 20px;
                &-item{
                    position: relative;
                    font-weight: 500;
                    color: var(--pink-light);
                    &::before{
                        content: '▷';
                        position: absolute;
                        left: -20px;
                        top: 6px;
                        color: var(--pink-dark);
                        line-height: 12px;
                    }
                }
            }
        }
    }
}